body {
	margin: 0;
	height: 100%;
	background-color: #000000;
	/*background-image: url("bg1.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
html {
	margin: 0;
}

/* Text definitions */
.buttontext {
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	font-size: 19px;
}
.bodytext {
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
}	
.nobr { 
	white-space: nowrap 
}

/* Floating elements */
.topleft {
	position: fixed;
	top: 16px;
	left: 10%;
	transform: translate(-50%, -50%);
    text-align: center;
	z-index: 999;
}
.topmiddle {
	position: fixed;
	top: 16px;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
	z-index: 999;
}
.topright {
	position: fixed;
	top: 16px;
	left: 90%;
	transform: translate(-50%, -50%);
    text-align: center;
	z-index: 999;
}	

#overlay {
	position: fixed;
	width: 100%;
	height: 34px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

/* Link properties */
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #C0C0C0;
	text-decoration: none;
}
a:active {
	color: #C0C0C0;
	text-decoration: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  /* Mobile first */
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
}

.image-gallery .column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.image-item img {
	width: 100%;
	border-radius: 2px;
	height: 100%;
	object-fit: cover;
}
.image-item-g img {
	width: 100%;
	border-radius: 2px;
	height: 100%;
	object-fit: cover;
}
.image-item-p img {
	width: 30%;
	border-radius: 2px;
	height: 100%;
	opacity: 0.8;
	object-fit: cover;
}

/* overlay styles */

.image-item {
	position: relative;
	cursor: pointer;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* hover */
.image-item:hover .overlay {
	transform: scale(1);
}

@media only screen and (min-width: 960px) {

.image-gallery {
    flex-direction: row;
  }
.deskcenter {
	top: 30%;
	position: absolute;
}
.overlay {
	width: 90%;
	height: 90%;
	top: 4.5%;
	left: 4.5%;
	transform: scale(0);
	transition: all 0.2s 0.1s ease-in-out;
}
.image-item img {
	width: 90%;
	height: 90%;
	transform: translate(5%, 5%);
}
.image-item-g img {
	width: 100%;
	height: 100%;
}
}
@media only screen and (max-width: 460px) {
.buttontext {
	font-size: 16px;
}	
.bodytext {
	font-size: 11px;
}
}
@media only screen and (max-width: 360px) {
.buttontext {
	font-size: 15px;
}
.bodytext {
	font-size: 10px;
}
}
@media only screen and (max-height: 460px) {
.buttontext {
	font-size: 16px;
}
.bodytext {
	font-size: 11px;
}	
}
@media only screen and (max-height: 360px) {
.buttontext {
	font-size: 15px;
}
.bodytext {
	font-size: 10px;
}
}
